@page
@model IndexModel
@{
    ViewData["Title"] = "Counters";                                             
}

<div class="text-center">
    <h1 class="display-4">Здравствуте</h1>
    <p>Здесь вы можете видеть таблицу с элементами</p>
</div>
